.footer {
  width: 100%;
  background: var(--pri-color);
  color: #fff;
}

.footer-links {
  padding: 3rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-links-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.footer-col h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.footer-col ul {
  list-style: none;
}

.footer-col li {
  font-size: 0.85rem;
  margin-bottom: 0.6rem;
  opacity: 0.9;
  cursor: pointer;
}

.footer-col li:hover {
  opacity: 1;
  text-decoration: underline;
}

.footer-bottom {
  padding: 2.5rem 1rem 1.5rem;
}

.footer-bottom-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: start;
}

.footer-brand img {
  width: 100px;
  margin-bottom: 0.5rem;
}

.footer-brand h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0rem;
}

.footer-contact h4,
.footer-social h4 {
  font-size: 0.95rem;
  margin-bottom: 0.8rem;
}

.footer-contact p {
  font-size: 0.85rem;
  margin-bottom: 0.4rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.footer-contact p {
  gap: 0.5rem;
}
.social-icons a {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}

.social-icons a:hover {
  background: #fff;
  color: var(--gold);
}

.footer-copy {
  text-align: center;
  font-size: 0.75rem;
  opacity: 0.8;
  margin-top: 2rem;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .footer-links-inner,
  .footer-bottom-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}
@media (max-width: 658px) {
  .footer-links-inner,
  .footer-bottom-inner {
    text-align: start;
  }
  .footer-links-inner {
    gap: 2rem;
  }
}
@media (max-width: 378px) {
  .social-icons a {
    width: 35px;
    height: 35px;
    font-size: 1rem;
  }
}
